@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.45turn, #00b4d8, #9d4edd);
}

.block1 {
  display: flex;
  justify-content: center;
  height: 100% - 10px;
  background-color: #fffcf2;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.254);
}

.containerblock1 {
  margin-top: 40px;
  width: 80%;
  position: relative;
}

.perfil-title {
  display: flex;
  align-items: center;
}

.foto > img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 20px;
}

.do-it {
  font-family: montserrat;
  font-size: 20px;
  font-weight: 400;
  color: #5c5c5c;
}

.name {
  font-family: montserrat;
  font-size: 24px;
  font-weight: 400;
  background: linear-gradient(0.25turn, #00b4d8, #9d4edd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  width: 80%;
  height: 3px;
  background: linear-gradient(0.25turn, #00b4d8, #9d4edd);
  margin-top: 40px;
  margin-left: 10%;
  border-radius: 10px;
}

.selection {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.svg {
  width: 32px;
  height: 32px;
  fill: #7c7c7c;
  margin-right: 10px;
}

.tab-btn {
  border: none;
  background-color: #fffcf2;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #7c7c7c;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10%;
  white-space: nowrap;
  transition: 0.3s;
}

.tab-btn:hover{
  scale: 1.1;
}

.selected {
  color: #9d4edd;
  fill: #9d4edd;
}

.block2 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.container-content {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

.container-content.show {
  display: flex;
}

h1 {
  text-align: center;
  color: #fffcf2;
  font-family: montserrat;
  font-size: 48px;
  font-weight: 600;
  margin-top: 80px;
}

.bar {
  width: 100%;
  height: 60px;
  background-color: #fffcf2;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.inserttask {
  border: none;
  background-color: #fffcf2;
  border-radius: 20px;
  width: 80%;
  outline: none;
  padding-left: 20px;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 400;
  color: #7c7c7c;
}

.inserttask::placeholder {
  color: #cccccc;
}

.dateinputs {
  display: flex;
  justify-content: end;
  width: 20%;
}

.inserttime {
  border: none;
  background-color: #fffcf2;
  width: 60px;
  height: 60px;
  outline: none;
}


#inserttime[type="time"]::-webkit-calendar-picker-indicator {
  min-width: 32px;
  min-height: 32px;
  filter: invert(40%) sepia(59%) saturate(1115%) hue-rotate(239deg)
    brightness(87%) contrast(98%);
  transition: 1s;
}

#inserttime.checked[type="time"]::-webkit-calendar-picker-indicator {
  min-width: 32px;
  min-height: 32px;
  filter: brightness(0) saturate(100%) invert(16%) sepia(19%)
   saturate(7473%) hue-rotate(256deg) brightness(86%) contrast(119%);
   scale: 1.2;
   transition: 1s;
}

input[type="time"]::-webkit-datetime-edit-hour-field {
  -webkit-appearance: none;
  display: none;
}

input[type="time"]::-webkit-datetime-edit-minute-field {
  -webkit-appearance: none;
  display: none;
}
input[type="time"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

.insertdate {
  border: none;
  background-color: #fffcf2;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  outline: none;
}

#insertdate[type="date"]::-webkit-calendar-picker-indicator {
  min-width: 32px;
  min-height: 32px;
  filter: invert(40%) sepia(59%) saturate(1115%) hue-rotate(239deg)
    brightness(87%) contrast(98%);
  transition: 1s;
}

#insertdate.checked[type="date"]::-webkit-calendar-picker-indicator {
  min-width: 32px;
  min-height: 32px;
  filter: brightness(0) saturate(100%) invert(16%) sepia(19%)
   saturate(7473%) hue-rotate(256deg) brightness(86%) contrast(119%);
   scale: 1.2;
   transition: 1s;
}

input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

.time-checkbox {
  display: flex;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 60px;
  border-radius: 20px;
  background-color: #fffcf2;
  margin-top: 20px;
  align-items: center;
}

.taskname {
  margin-left: 20px;
}

.time-checkbox {
  margin-right: 20px;
  align-items: center;
}

.checkbox-todaytasks {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid #9d4edd;
  border-radius: 100px;
  margin-left: 20px;
}

input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  transform: scale(0);
  background-color: #9d4edd;
  border-radius: 100px;
  transition: 0.3s;
}

input[type="checkbox"]:checked::before {
  transform: scale(0.8);
  transition: 0.3s;
}

.formatc3 {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 400;
  color: #7c7c7c;
}

.time-checkbox.check {
 text-decoration: line-through;
}

.taskname.check {
  text-decoration: line-through;
}

.task {
  transition: 1s;
}

.task.check {
  opacity: 50%;
  transition: 1.5s;
  scale: 0.98;
}

.send {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #fffcf2;
  margin-left: 10px;
  cursor: pointer;
}

.send:hover > img {
  rotate: 90deg;
  width: 32px;
  height: 32px;
}

.send > img {
  transition: 0.4s;
  width: 24px;
  height: 24px;
  rotate: 0deg;
}

.container2 {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

.taskdiv {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  max-height: 600px;
  overflow-y: auto;
}

.container-settings {
  width: 100%;
  border-radius: 20px;
  margin-top: 100px;
  background-color: #fffcf2;
}

.profile-svg {
  fill: #9d4edd;
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-top: 20px;
}

.profile-line {
  background-color: #9d4edd;
  height: 2px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-config {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #7c7c7c;
  margin-bottom: 40px;
  margin-left: 20px;
}

.notification-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.checkbox-settings {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.help {
  margin-left: 10%;
  position: absolute;
  bottom: 20px;
}

.help-btn {
  display: flex;
  border: none;
  cursor: pointer;
  background-color: #fffcf2;
  transition: 0.3s;
}

.help-btn:hover {
  scale: 1.1;
}

.help-btn:active {
  scale: 0.9;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
}

::-webkit-scrollbar-track {
  background: #cccccc;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: padding-box
  }
  
::-webkit-scrollbar-thumb {
  background: #00B4D8;
  border-radius: 20px;
}